.warning-container {
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 100%;
    z-index: 1;
}

.warning-icon {
    width: 15vw;
    max-width: 300px;
    margin-bottom: 1vw;
}

.warning-text {
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4vw;
    margin-bottom: 2vw;
    white-space: nowrap;
}

.warning-description {
    color: white;
    font-size: 1.5vw;
    margin-bottom: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.main-button {
    position: absolute;
    bottom: 18%;
    width: 40vw;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1;
}

.main-button.disabled {
    opacity: 0.6;
    cursor: default;
}

.main-button:not(.disabled):hover {
    transform: translateX(-50%) scale(1.02);
}


.terms-link {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.5vw;
    text-decoration-thickness: 0.1vw;
    font-size: 2vw;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    z-index: 1;
}

.terms-link:hover {
    color: #aeaeae;
}


#page-1-1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.white-block {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:72vw;
    max-width: 1200px;
    z-index: 1;
}

.white-stick {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    max-width: 1400px;
    z-index: 1;
}

.close-btn {
    position: absolute;
    top: 26%;
    left: 5%;
    width: 5vw;
    max-width: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1;
}

.close-btn:hover {
    transform: scale(1.1);
}

.ethics-title {
    position: absolute;
    top: 8.7%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5vw;
    color: black;
    text-align: center;
    white-space: nowrap;
    font-weight: 100;
    z-index: 1;
}

.ethics-content {
    position: absolute;
    top: 63%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 60%;
    color: black;
    font-weight: bold;
    font-size: 1.8vw;
    z-index: 1;
}

.ethics-item {
    margin-bottom: 3vw;
}

.ethics-item-number {
    font-weight: 600;
    margin-right: 1vw;
}

.ethics-item-title {
    font-weight: 600;
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
}

.ethics-item-description {
    font-size: 1vw;
    font-weight: 100;
    margin-left: 3vw;
    width: 50%;
}


#section-1-2 {
    position: relative;
}

.get-ticket-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 6vw;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.3vw;
    z-index: 1;
}

.ticket-instruction {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3vw;
    text-align: center;
    z-index: 1;
}

.vending-machine {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    max-width: 600px;
    z-index: 1;
}

.ticket {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 15vw;
    max-width: 350px;
    opacity: 0;
    z-index: 1;
}

.ticket.show {
    opacity: 1;
}

.arrows-container {
    position: absolute;
    top: 55%;
    left: 23%;
    width: 8vw;
    max-width: 150px;
    z-index: 1;
}

.arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.arrow.active {
    opacity: 1;
}

.button-container {
    position: absolute;
    top: 54%;
    left: 75.5%;
    transform: translate(-50%, 150%);
    cursor: pointer;
    width: 10vw;
    max-width: 200px;
    z-index: 1;
}

.btn-non-click, .btn-click {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.btn-non-click:hover {
    transform: scale(1.02);
}

.next-arrow {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 5vw;
    max-width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1;
}

.next-arrow:hover {
    transform: translateX(10px);
}

.access-title {
    position: absolute;
    top: -280%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 6vw;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.4vw;
    z-index: 1;
}


.access-instruction {
    position: absolute;
    top: -120%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5vw;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
}


.code-input-container {
    position: absolute;
    top: 23%;
    left: 49%;
    transform: translateX(-50%);
    width: 10vw;
    max-width: 800px;
    height: 3.5vw;
    border: 0.15vw solid white;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.code-input-display {
    color: white;
    font-size: 2.3vw;
    text-align: center;
    letter-spacing: 0.3vw;
}


.numpad-container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.1vw;
    width: 30vw;
    max-width: 400px;
    max-height: 500px;
    z-index: 1;
}


.numpad-button {
    width: 12vw;
    max-width: 120px;
    height: 12vw;
    max-height: 120px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.numpad-button:hover {
    transform: scale(1.05);
}

.numpad-button img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.numpad-btn-clicked {
    display: none;
}


.numpad-button[data-value="0"] {
    grid-column: 2;
    grid-row: 4;
}


.navigation-arrows {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 1;
}

.arrow-back {
    width: 5vw;
    top: 0%;
    left: 0%;
    max-width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow-next {
    position: absolute;
    top: 0%;
    left: 88%;
    width: 5vw;
    max-width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow-back:hover {
    transform: translateX(-10px);
}

.arrow-next:hover {
    transform: translateX(10px);
}

.arrow-next.hidden {
    display: none;
}


.error-message {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff5555;
    font-size: 1.4vw;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.error-message.show {
    opacity: 1;
}

.redirect-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 6vw;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
}


.redirect-description {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3.3vw;
    text-align: center;
    z-index: 1;
}


.number-blocks-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 1vw;
    z-index: 1;
}


.number-block {
    width: 8vw;
    max-width: 150px;
    height: 8vw;
    max-height: 200px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.number-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    font-family: 'Nuqun', sans-serif;
    color: #808491; 
    transition: color 0.3s ease;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}


.all-filled .number-display {
    color: #000;
}


.next-arrow-2-1 {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 5vw;
    max-width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.next-arrow-2-1:hover {
    transform: translateX(10px);
}

.next-arrow-2-1.show {
    opacity: 1;
    pointer-events: auto;
}


.years-ago-text {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2.5vw;
    text-align: center;
    z-index: 1;
}

.keyhole-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15vw;
    max-width: 300px;
    height: 15vw;
    max-height: 300px;
    z-index: 1;
}

.keyhole-closed, .keyhole-open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.keyhole-open {
    opacity: 0;
}


.puzzle-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.puzzle-piece {
    position: absolute;
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
    border: none;
    outline: none;
    background: transparent;
    touch-action: none;
}


.puzzle-piece:active {
    cursor: grabbing;
}


.puzzle-1 {
    top: 0;
    left: 0%;
    width: 60vw;
    max-width: 600px;
    z-index: 10;
}

.puzzle-2 {
    top: 0;
    left: -20%;
    width: 90vw;
    max-width: 800px;
    z-index: 9;
}

.puzzle-3 {
    top: 0;
    right: -5%;
    width: 25vw;
    max-width: 500px;
    z-index: 7;
}

.puzzle-4 {
    bottom: 0;
    right: -12%;
    width: 88vw;
    max-width: 600px;
    z-index: 1;
}

.puzzle-5 {
    bottom: 0;
    left: -9%;
    width: 92vw;
    max-width: 700px;
    z-index: 11;
}

.puzzle-6 {
    bottom: 0;
    right: 0;
    width: 40vw;
    max-width: 600px;
    z-index: 10;
}

.puzzle-7 {
    top: -2%;
    right: 4%;
    width: 56vw;
    max-width: 600px;
    z-index: 12;
}

.puzzle-8 {
    left: -10%;
    bottom: 10%;
    width: 40vw;
    max-width: 600px;
}


.key {
    position: absolute;
    bottom: 20%;
    left: 65%;
    width: 15vw;
    max-width: 300px;
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
    z-index: -10;
    border: none;
    outline: none;
    background: transparent;
    touch-action: none;
}


.key:active {
    cursor: grabbing;
}


.drag-instruction {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5vw;
    text-align: center;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.drag-instruction.show {
    opacity: 1;
}

.loading-title {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 6vw;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
}


.loading-description {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.8vw;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
    width: 100%;
}


.slider-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    padding: 1vw 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slider-line {
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 10vw;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    object-fit: contain;
}


.slider-range {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5; 
    margin: 0;
    cursor: pointer;
    top: 0;
    left: 0;
}

.slider-progress {
    position: absolute;
    left: 5.1vw;
    top: 52%;
    transform: translateY(-50%);
    height: 1.7vw;
    max-height: 40px;
    border-radius: 1vw;
    background-color: white;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7);
    z-index: 3;
    width: 0;
    pointer-events: none;
}


.slider-thumb {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 11vw;
    max-width: 110px;
    height: 5.5vw;
    max-height: 130px;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
    pointer-events: none;
    z-index: 4;
}


.navigation-arrows {
    position: absolute;
    bottom: 9%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 1;
}

.arrow-back {
    width: 5vw;
    max-width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow-next {
    width: 5vw;
    max-width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow-back:hover {
    transform: translateX(-10px);
}

.arrow-next:hover {
    transform: translateX(10px);
}

.arrow-next.hidden {
    opacity: 0;
    pointer-events: none;
}

.page-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll; 
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}
#section-3-1 {
    position: relative;
}

.hunt-title {
    position: absolute;
    font-size: 5vw;
    color: white;
    bottom: 87%;
}

.hunt-instruction {
    position: absolute;
    font-size: 2vw;
    color: white;
    bottom: 82%;
}

.moving-line {
    position: relative;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.stroke-line {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 12%;
}

.cactus-decor.cactus-1, .cactus-decor.cactus-2 {
    position: absolute;
    transform: scale(-1, 1);
    transform: translate(-50%, -50%);
}

.cactus-decor.cactus-1 {
    left: 10%;
    width: 22%;
    height: auto;
    bottom: 18%;
}

.cactus-decor.cactus-2 {
    left: 25%;
    width: 20%;
    height: auto;
    bottom: 21%;
}

.people, .cactus-stroke, .mamont-container {
    position: absolute;
    animation: moveRight 7s linear infinite;
    width: 18%;
    height: auto;
}

.cactus-stroke {
    left: 21%;
    bottom: 12%;
}

.people {
    left: -19%;
    bottom: 12%;
}

@keyframes moveRight {
    0% { transform: translateX(-230%); }
    100% { transform: translateX(800%); }
}

.arrow-back-pg3 {
    position: absolute;
    top: -82vh;
    left: 2vw;
    width: 5vw;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow-back-pg3:hover {
    transform: translateX(-10px);
}

.mamont-container {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: moveRight 7s linear infinite;
    bottom: 12%;
}

.mamont {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: auto;
}
.skeleton {
    position: absolute;
    bottom: 0%;
    left: 10%;
    height: auto;
}

.hidden {
    display: none;
}

#section-3-2 {
    position: relative;
}

.section-3-2-title {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2vw;
    text-align: center;
    font-weight: 100;
    z-index: 1;
}

.hand {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 66vw;
}

.message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.message-background {
    position: absolute;
    top: 76vh;
    left: 50%;
    width: 65vw;
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: 10;
}

.message-input-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.message-text {
    position: absolute;
    top: 63vh;
    left: 19%;
    font-size: 1.8vw;
    font-weight: 100;
    color: #929292;
    white-space: nowrap;
    width: 10vw;
    z-index: 10;
}

.message-text-black {
    position: absolute;
    top: 63vh;
    left: 19%;
    font-size: 1.8vw;
    font-weight: 100;
    color: #000000;
    white-space: nowrap;
    width: 10vw;
    z-index: 10;
}

.message-input {
    position: absolute;
    top: 67vh;
    left: 19%;
    font-size: 1.8vw;
    font-weight: 100;
    color: #000000;
    width: 61vw;
    height: auto;
    text-align: left;
    vertical-align: top;
    padding: 0;
    z-index: 10;
}


@keyframes handFade {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.hand-pulse {
    animation: handFade 4s ease-in-out infinite;
}


.hand-print {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}


.message-text.hidden {
    display: none;
}


.message-text-black {
    color: #000;
}

#section-3-3 {
    position: relative;
}

.section-3-3-title {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2vw;
    text-align: center;
    font-weight: 100;
    z-index: 10;
}

.human-1 {
    position: absolute;
    top: 61vh;
    left: 21%;
    width: 10%;
    height: 100%;
}

.human-2 {
    position: absolute;
    top: 60vh;
    left: 66%;
    width: 10%;
    height: 100%;
}

.draggable-items-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.draggable-item {
    position: absolute;
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
    border: none;
    outline: none;
    background: transparent;
    touch-action: none;
}


.draggable-item:active {
    cursor: grabbing;
}

.draggable-item-1 {
    top: 17vh;
    left: 8%;
    width: 17vw;
    max-width: 600px;
    z-index: 10;
}

.draggable-item-2 {
    top: 19vh;
    left: 73%;
    width: 12vw;
    max-width: 800px;
    z-index: 9;
}

.draggable-item-3 {
    top: 39vh;
    left: 83%;
    width: 6vw;
    height: 100%;
    z-index: 8;
}

.fire-static {
    position: absolute;
    top: 48vh;
    left: 43vw;
    width: 10%;
    height: 100%;
    transform-origin: center;
}


@keyframes fireGrowing {
    0% { transform: scale(1) translateY(0); }
    50% { transform: scale(1.2) translateY(-5px); }
    100% { transform: scale(1) translateY(0); }
}

.fire-growing {
    animation: fireGrowing 0.5s ease;
    transform-origin: center center;
}


.draggable-item {
    transition: opacity 0.3s ease;
}

#section-3-4 {
    position: relative;
}

.night-sky-title {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 5vw;
    text-align: center;
    white-space: nowrap;
    font-weight: 100;
    z-index: 10;
}

.night-sky-description {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5vw;
    text-align: center;
    font-weight: 100;
    white-space: nowrap;
    z-index: 10;
}

.goodbye-text {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 5vw;
    text-align: center;
    white-space: nowrap;
    font-weight: 100;
    z-index: 10;
}

.author-container { 
    position: relative;
    top:33%;
    left: 4cqb;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.author-img-1 {
    margin-top: 0;
    margin-left: 0;
    width: 20%;
    height: auto;
    display: block;
}

.author-img-2 {
    position: absolute;
    top: 82%;
    left: 11.2%;
    width: 3%;
    height: auto;
    transform: translate(-50%, -50%);
}

.author-text {
    position: absolute;
    top: 117%;
    left: 19%;
    width: 10%;
    height: auto;
    transform: translate(-50%, -50%); 
    font-size: 1.5vw;
    font-weight: 100;
    text-align: left;
    vertical-align: top;
}   

.author-label {
    position: absolute;
    color: #8A9CC2;
}

.author-name {
    position: absolute;
    color: white;
    white-space: nowrap;
}

.group-container {
    position: relative;
    top: 17%;
    left: 43%;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.group-img-1 {
    margin-top: 0;
    margin-left: 0;
    width: 20%;
    height: auto;
    display: block;
}

.group-img-2 {
    position: absolute;
    top: 18%;
    left: 2.76%;
    width: 3%;
    height: auto;
    transform: translate(-50%, -50%);
}

.group-text {
    position: absolute;
    top: -6%;
    left: 8;
    width: 10%;
    height: auto;
    transform: translate(-50%, -50%); 
    font-size: 1.5vw;
    font-weight: 100;
    text-align: left;
    vertical-align: top;
}

.group-label {
    position: absolute;
    color: #8A9CC2;
}

.group-name {
    position: absolute;
    color: white;
}

.curators-container {
    position: relative;
    top: -38%;
    left: 76%;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.curators-img-1 {
    margin-top: 0;
    margin-left: 0;
    width: 18%;
    height: auto;
    display: block;
}

.curators-img-2 {
    position: absolute;
    top: 89%;
    left: 2%;
    width: 3%;
    height: auto;
    transform: translate(-50%, -50%);
}

.curators-text {
    position: absolute;
    top: 109%;
    left: 11%;
    width: 10%;
    height: auto;
    transform: translate(-50%, -50%); 
    font-size: 1.5vw;
    font-weight: 100;
    text-align: right;
    direction: rtl;
}

.curators-label {
    position: absolute;
    color: #8A9CC2;
}

.curators-name {
    position: absolute;
    color: white;
    white-space: nowrap;
}


@keyframes starRotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes starFade {
    0% { opacity: 0.15; }
    50% { opacity: 1; }
    100% { opacity: 0.15; }
}

.star-animation {
    animation: starRotate 10s linear infinite, starFade 3s ease-in-out infinite;
    transform-origin: center center;
}

.star-animation.paused {
    animation-play-state: paused;
}


.author-text, .group-text, .curators-text {
    transition: opacity 0.5s ease;
    pointer-events: none;
}


.author-text.hidden, .group-text.hidden, .curators-text.hidden {
    opacity: 0;
}


.author-text, .group-text, .curators-text {
    opacity: 1;
}

