/* Стили для страницы 2-2 */


#section-2-2 {
    position: relative;
    overflow: visible;
    background-color: transparent;
}


.keyhole-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15vw;
    max-width: 300px;
    height: 15vw;
    max-height: 300px;
    z-index: 1;
}

.keyhole-closed, .keyhole-open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.keyhole-open {
    opacity: 0;
}


.puzzle-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.puzzle-piece {
    position: absolute;
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
    border: none;
    outline: none;
    background: transparent;
    touch-action: none;
}


.puzzle-piece:active {
    cursor: grabbing;
}


.puzzle-1 {
    top: 0;
    left: 0%;
    width: 60vw;
    max-width: 600px;
    z-index: 10;
}

.puzzle-2 {
    top: 0;
    left: -20%;
    width: 90vw;
    max-width: 800px;
    z-index: 9;
}

.puzzle-3 {
    top: 0;
    right: -5%;
    width: 25vw;
    max-width: 500px;
    z-index: 7;
}

.puzzle-4 {
    bottom: 0;
    right: -12%;
    width: 88vw;
    max-width: 600px;
    z-index: 1;
}

.puzzle-5 {
    bottom: 0;
    left: -9%;
    width: 92vw;
    max-width: 700px;
    z-index: 11;
}

.puzzle-6 {
    bottom: 0;
    right: 0;
    width: 40vw;
    max-width: 600px;
    z-index: 10;
}

.puzzle-7 {
    top: -2%;
    right: 4%;
    width: 56vw;
    max-width: 600px;
    z-index: 12;
}

.puzzle-8 {
    left: -10%;
    bottom: 10%;
    width: 40vw;
    max-width: 600px;
}


.key {
    position: absolute;
    bottom: 20%;
    left: 65%;
    width: 15vw;
    max-width: 300px;
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
    z-index: -10;
    border: none;
    outline: none;
    background: transparent;
    touch-action: none;
}


.key:active {
    cursor: grabbing;
}


.drag-instruction {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5vw;
    text-align: center;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.drag-instruction.show {
    opacity: 1;
}

